{% extends "user_types/admin_templates/main.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Merchant
{% endblock page-title %}

  
{% block maincontent %}
   
    <div class="row">
        <div class="col-12">
            <div class="card">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="card-header mt-3">
                        {% if merchant %}
                            <legend>Update {{merchant.user.user_name}}</legend>
                        {% else %}
                            <legend>Create Merchant</legend>
                        {% endif %}
                    </div>

                    <div class="card-body">

                        <fieldset class="form-group">

                            <!-- {{form.as_p}} -->
                            {{u_form|crispy}}
                            {{m_form|crispy}}
                        </fieldset>


                        <div class="form-group text-center">
                            <button class="btn btn-outline-primary" type="submit">Update Merchant</button>
                        </div>

                    </div>
                </form>
            
            </div>   
        </div>
    </div>
{% endblock maincontent %}


{% block customjs %}
    <script>
       
        console.log(merchant);
    </script>
{% endblock customjs %}