{% extends "user_types/admin_templates/main.html" %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Merchant List
{% endblock page-title %}


  
{% block maincontent %}
  
  <div class="row">
    
    {% for merchant in merchants %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">

          <div class="article-header">
            <div class="article-image" data-background="{{ merchant.profile_pic.url }}" style="background-image: url({% static 'img/news/img13.jpg' %});">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> {{merchant.user.name}}</div>
            </div>
          </div>

          <div class="article-details">
            <div class="article-title">
              <h2><a href="{% url 'merchant-detail' merchant.id %}">{{merchant.user.user_name}}</a></h2>
            </div>
            <p>{{merchant.user.email}}</p>
            
          </div>
        
        </article>

      </div>

    {% endfor %}
         
  </div>

{% endblock maincontent %}