{% extends "user_types/admin_templates/main.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Category
{% endblock page-title %}

  
{% block maincontent %}
   
    <div class="row">
        <div class="col-12">
            <div class="card">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="card-header mt-3">
                        {% if category %}
                            <legend>Update Category</legend>
                        {% else %}
                            <legend>Create Category</legend>
                        {% endif %}
                    </div>

                    <div class="card-body">

                        <fieldset class="form-group">
                            <!-- {{form.as_p}} -->
                            {{form.title|as_crispy_field}}
                            {{form.url_slug|as_crispy_field}}
                            {{form.thumbnail|as_crispy_field}}

                            <img src ="{% if category %}{{category.thumbnail.url}}{% endif %}" style="width:300px; margin-left:auto; margin-right:auto; display: block; margin-bottom:15px; border-radius:15px" alt="" id="thumbnail">

                            {{form.description|as_crispy_field}}
                            {{form.is_active|as_crispy_field}}
                        </fieldset>


                        <div class="form-group text-center">
                            <button class="btn btn-outline-primary" type="submit">Save Category</button>
                        </div>

                    </div>
                </form>
            
            </div>   
        </div>
    </div>
{% endblock maincontent %}


{% block customjs %}
    <script>
        document.getElementById("id_title").onkeyup = () => {
            document.getElementById("id_url_slug").value = 
                document.getElementById("id_title").value
                    .toLowerCase()
                    .replace(/ /g, "-")
        }
        console.log(document.getElementById("id_thumbnail"))


        document.getElementById("id_thumbnail").onchange = () => {
            let img_src = document.getElementById("id_thumbnail").files[0]
            
            let reader = new FileReader();

            reader.onload = (e) => {
                document.getElementById("thumbnail").setAttribute('src', reader.result);
            }

            if (img_src)
                reader.readAsDataURL(img_src);    
        }
    </script>
{% endblock customjs %}