{% extends "user_types/admin_templates/main.html" %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Category List
{% endblock page-title %}


  
{% block maincontent %}
  
  <div class="row">
    
    {% for category in categories %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">

          <div class="article-header">
            <div class="article-image" data-background="{{ category.thumbnail.url }}" style="background-image: url({% static 'img/news/img13.jpg' %});">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> {{category.title}}</div>
            </div>
          </div>

          <div class="article-details">
            <div class="article-title">
              <h2><a href="{% url 'category-details' category.url_slug %}">Goto: {{category.url_slug}}</a></h2>
            </div>
            <p>{{category.description}}</p>
              
            <div class="article-cta">
              <label class="custom-switch pt-2 " style="float:left">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if category.is_active%} checked {% endif %}>
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Active</span>
              </label>

              <span class="btn mr-2 pb-2">
                <a href="{% url 'category-delete' category.id %}" style="color:red"><i class="fas fa-trash"></i></a>
              </span>
              

              <a href="{% url 'category-update' category.id %}">Edit <i class="fas fa-chevron-right"></i></a>

              
                    
            </div>
          </div>
        
        </article>

      </div>

    {% endfor %}
         
  </div>

{% endblock maincontent %}