{% extends "user_types/admin_templates/main.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Sub - Category
{% endblock page-title %}

  
{% block maincontent %}
     <div class="row">
        <div class="col-12">
            <div class="card">

                <form method="post">
                    {% csrf_token %}

                    <fieldset class="form-group">
                            

                    <h2> Are you sure, you want to delete {{subcategory.title}} sub-category? </h2>

                    </fieldset>


                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>

                        <a class="btn btn-outline-secondary" href="{% url 'subcategory-list'%}">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
 {% endblock maincontent %}