{% extends "user_types/admin_templates/main.html" %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Sub-Category List
{% endblock page-title %}


  
{% block maincontent %}
  
  <div class="row">
    
    {% for subcategory in subcategories %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">

          <div class="article-header">
            <div class="article-image" data-background="{{ subcategory.thumbnail.url }}" style="background-image: url({% static 'img/news/img13.jpg' %});">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> {{subcategory.title}}</div>
            </div>
          </div>

          <div class="article-details">
            <div class="article-title">
            </div>
            <p>{{subcategory.description}}</p>
            <p><a href="#">Goto: {{subcategory.url_slug}}</a></p>
            
              
            <div class="article-cta">
              <!-- 
              <label class="custom-switch " style="float:left">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if subcategory.is_active%} checked {% endif %}>
                <span class="custom-switch-indicator"></span>
              </label>  
              -->

              <span class="btn mr-2 pb-2">
                <a href="{% url 'subcategory-delete' subcategory.id %}" style="color:red"><i class="fas fa-trash"></i></a>
              </span>

              <span class="badge badge-primary" style="float:left">{{subcategory.category}}</span>
              <a href="{% url 'subcategory-update' subcategory.id %}">Edit <i class="fas fa-chevron-right"></i></a>
                    
            </div>
          </div>
        
        </article>

      </div>

    {% endfor %}
         
  </div>

{% endblock maincontent %}