{% extends "user_types/admin_templates/main.html" %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Staff List
{% endblock page-title %}


  
{% block maincontent %}
  
  <div class="row">
    
    {% for staff in staffs %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">

          <div class="article-header">
            <div class="article-image" data-background="{{ staff.profile_pic.url }}" style="background-image: url({% static 'img/news/img13.jpg' %});">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> {{staff.user.name}}</div>
            </div>
          </div>

          <div class="article-details">
            <div class="article-title">
              <h2><a href="#">{{staff.user.user_name}}</a></h2>
            </div>
            <p>{{staff.user.email}}</p>
              
            {% comment %} <div class="article-cta">
              <label class="custom-switch " style="float:left">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if category.is_active%} checked {% endif %}>
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Active</span>
              </label>

              <a href="{% url 'category-update' category.id %}">Edit <i class="fas fa-chevron-right"></i></a>
                    
            </div> {% endcomment %}
          </div>
        
        </article>

      </div>

    {% endfor %}
         
  </div>

{% endblock maincontent %}