{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

  {% block title %}
  {% endblock title %}

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'modules/bootstrap-social/bootstrap-social.css' %}">

  <link rel="stylesheet" href="{% static 'modules/jqvmap/dist/jqvmap.min.css' %}">
  <link rel="stylesheet" href="{% static 'modules/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">

  {% block loadcss %}
    <!-- Template CSS -->
  {% endblock loadcss %}

  
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    {% block content %}

    {% endblock content %}
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'modules/jquery.min.js' %}"></script>
  <script src="{% static 'modules/popper.js' %}"></script>
  <script src="{% static 'modules/tooltip.js' %}"></script>
  <script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'modules/moment.min.js' %}"></script>
  <script src="{% static 'js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    window.setTimeout(() => {
      document.getElementById("msgs").style.display="none";
    }, 1500);
  </script>
  {% block customjs %}
  {% endblock customjs %}

</body>
</html>