{% load static %}

<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2021 <div class="bullet"></div> Design By <a href="https://nauval.in/">Twinkle Paul</a>
    </div>
    <div class="footer-right">
        
    </div>
</footer>