{% extends "user_types/admin_templates/main.html" %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
User List
{% endblock page-title %}


  
{% block maincontent %}
  
  <div class="row">
    
    {% for user in users %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">

          <div class="article-header">
            <div class="article-image" data-background="{{ user.profile_pic.url }}" style="background-image: url({% static 'img/news/img13.jpg' %});">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> {{user.name}}</div>
            </div>
          </div>

          <div class="article-details">
            <div class="article-title">
              <h2><a href="#">{{user.user_name}}</a></h2>
            </div>
            <p>{{user.user.email}}</p>
              
            <div class="article-cta">
              
                <span class="badge badge-primary">{{user.get_user_type_display}}</span>
              </label>
 {% comment %}
              <a href="{% url 'category-update' category.id %}">Edit <i class="fas fa-chevron-right"></i></a>
                {% endcomment %}    
            </div> 
          </div>
        
        </article>

      </div>

    {% endfor %}
         
  </div>

{% endblock maincontent %}