{% extends "base.html" %}

{% load static %}

{% block title %}

{% endblock title %}

{% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock loadcss %}

{% block content %}
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      
      {% include 'user_types/admin_templates/navbar.html' %}
      {% include 'user_types/admin_templates/sidebar.html' with id=form.instance.id %}
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>{% block page-title %}
            {% endblock page-title %}</h1>
          </div>

          {% if messages %}
            <div class="form-group">
                {% for message in messages %}
                      
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" id="msgs">
                        {{message}}
                    </div>
                  
                {% endfor %}
            </div>
          {% endif%}

          {% block maincontent %}
          {% endblock maincontent %}

        </section>
      </div>

      
      {% include 'user_types/admin_templates/footer.html' %}
      
    </div>
{% endblock content %}