

{% load static %}

{% url 'admin-home' as path_to_home %}

{% url 'category-list' as path_to_listview %}
{% url 'category-create' as path_to_create %}
{% url 'category-update' id as path_to_update %}

{% url 'subcategory-list' as path_to_sublistview %}
{% url 'subcategory-create' as path_to_subcreate %}
{% url 'subcategory-update' id as path_to_subupdate %}

{% url 'product-create' as path_to_productcreate %}

{% url 'merchant-list' as path_to_merchantlist %}
{% url 'merchant-create' as path_to_merchantcreate %}

{% url 'staff-list' as path_to_stafflist %}
{% url 'staff-create' as path_to_staffcreate %}

{% url 'customer-list' as path_to_customerlist %}
{% url 'customer-create' as path_to_customercreate %}

{% url 'admin-create-user' as path_to_admincreateuser %}
{% url 'admin-user-list' as path_to_viewallusers %}

<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">

    <div class="sidebar-brand">
      <a href="index.html">Amazon</a>
    </div>

    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">Am</a>
    </div>

    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>

      <li class="{% if request.path == path_to_home %} active {% endif %}">
        <a href="{{ path_to_home }}" class="nav-link"><i class="fas fa-fire"></i><span>Home</span></a>
      </li>

      <li class="dropdown {% if request.path == path_to_listview or request.path == path_to_create or request.path == path_to_update %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Categories</span></a>

        <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_listview %} active {% endif %}">
            <a class="nav-link" href="{{path_to_listview}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_create %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_create}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_sublistview or request.path == path_to_subcreate or request.path == path_to_subupdate %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Sub - Categories</span></a>

        <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_sublistview %} active {% endif %}">
            <a class="nav-link" href="{{path_to_sublistview}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_subcreate %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_subcreate}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_admincreateuser or request.path == path_to_viewallusers %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>User</span></a>

         <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_viewallusers %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_viewallusers}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_admincreateuser %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_admincreateuser}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_merchantlist or request.path == path_to_merchantcreate or request.path == path_to_merchantupdate %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Merchants</span></a>

        <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_merchantlist %} active {% endif %}">
            <a class="nav-link" href="{{path_to_merchantlist}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_merchantcreate %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_merchantcreate}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_stafflist or request.path == path_to_staffcreate%} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Staffs</span></a>

        <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_stafflist %} active {% endif %}">
            <a class="nav-link" href="{{path_to_stafflist}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_staffcreate %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_staffcreate}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_customerlist or request.path == path_to_customercreate%} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Customers</span></a>

        <ul class="dropdown-menu">
          <li class="{% if request.path == path_to_customerlist %} active {% endif %}">
            <a class="nav-link" href="{{path_to_customerlist}}">
              View All
            </a>
          </li>

          <li class="{% if request.path == path_to_customercreate %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_customercreate}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown {% if request.path == path_to_productcreate %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Products</span></a>

        <ul class="dropdown-menu">
        {% comment %}   <li class="{% if request.path == path_to_customerlist %} active {% endif %}">
            <a class="nav-link" href="{{path_to_customerlist}}">
              View All
            </a>
          </li> {% endcomment %}

          <li class="{% if request.path == path_to_productcreate %} active {% endif %}"> 
            <a class="nav-link" href="{{path_to_productcreate}}">
              Add New
            </a>
          </li>
        </ul>
      </li>

      

     
      
      

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a href="{% url 'admin-logout' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
        <i class="fas fa-rocket"></i> LOGOUT
      </a>
    </div>        
  </aside>
</div>

