{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Login &mdash; Admin</title>
{% endblock title %}

{% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock loadcss %}

{% block content %}
    
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="{% static 'img/website_logo.png' %}" alt="logo" width="125" class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Login</h4></div>

                        <div class="card-body">
                            <form method="POST" action="{% url 'admin-login' %}" class="needs-validation" novalidate="">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="email" type="text" class="form-control" name="username" tabindex="1" required autofocus>

                                    <div class="invalid-feedback">
                                        Please fill in your Username
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>

                                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>

                                    <div class="invalid-feedback">
                                        please fill in your password
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                    
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Remember Me</label>

                                    </div>
                                </div>

                                {% if messages %}
                                <div class="form-group">
                                    {% for message in messages %}
                                         
                                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" id="msgs">
                                            {{message}}
                                        </div>
                                      
                                    {% endfor %}
                                </div>
                                {% endif%}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                    Login
                                    </button>
                                </div>
                            </form>
                
                        </div>

                        <div class="mt-5 text-muted text-center">
                            Don't have an account? <a href="auth-register.html">Create One</a>
                        </div>

                        <div class="simple-footer">
                            Copyright &copy; Twinkle 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock content %}

