{% extends "user_types/admin_templates/main.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
{{ user.name }}
{% endblock page-title %}

{% block content %}


<div class="container col-md-8 mt-5">
  <div class="card author-box card-primary">
    <div class="card-body">
      <div class="author-box-left">
        <img alt="image" src="#" class="rounded-circle author-box-picture">
        <div class="clearfix"></div>
        <a href="#" class="btn btn-primary mt-3" >{{user.get_user_type_display}}</a>
      </div>

      <div class="author-box-details" style="margin-top:4rem">
        <div class="author-box-name">
          {{user.user_name}}
        </div>

        <div class="author-box-description">
          <div class="profile-widget-name">
            <p style="display:inline">Name: </p>
            <p class="text-primary" style="display:inline">{{user.name}} </p>
          </div>
          
          <div class="profile-widget-name">
            <p style="display:inline">Address: </p>
            <p class="text-primary" style="display:inline">{{user.address}} </p>
          </div>

          <div class="profile-widget-name">
            <p style="display:inline">Contact: </p>
            <p class="text-primary" style="display:inline">{{user.phone_number}} </p>
          </div>

          <div class="profile-widget-name">
            <p style="display:inline">Email: </p>
            <p class="text-primary" style="display:inline">{{user.email}} </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

    
{% endblock content %}