{% extends "user_types/admin_templates/main.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>Dashboard &mdash; Admin</title>
{% endblock title %}


{% block page-title %}
Products
{% endblock page-title %}

  
{% block maincontent %}
   
    <div class="row">
        <div class="col-12">
            <div class="card">

                <form method="POST" enctype="multipart/form-data" id="ProductUpdateForm"
                data-subcategory-url="{% url 'ajax_load-subcategories' %}">
                    {% csrf_token %}

                    <div class="card-header mt-3">
                        {% if product %}
                            <legend>Update Product</legend>
                        {% else %}
                            <legend>Create Product</legend>
                        {% endif %}
                    </div>

                    <div class="card-body">

                        <fieldset class="form-group">
                            <!-- {{form.as_p}} -->
                            {{form|crispy}}
                        </fieldset>


                        <div class="form-group text-center">
                            <button class="btn btn-outline-primary" type="submit">Save Product</button>
                        </div>

                    </div>
                </form>
            
            </div>   
        </div>
    </div>
{% endblock maincontent %}


{% block customjs %}
    <script>
        $("#id_Category").change (() => {
            var url =  $("#ProductUpdateForm").data("subcategory-url");  // get the url of the `load_cities` view

            let category = $("#id_Category").val();  // get the selected country ID from the HTML input
            


            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request.path ==
                data: {
                'category': category       // add the category to the GET parameters
                },
                success: (data) => {   // `data` is the return of the `load_subcategories` view function
                $("#id_Subcategory").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

    });
    </script>
{% endblock customjs %}